{% load card_helpers %}

<div class="filters">
  <div class="filtersToggle">
    <span>Filter</span>
  </div>
  <div class="filtersContent">
    {% for filter in filters %}
      {% if not filter.label|in_list:'Transcription,ID,Id,id'%}
        <div class="filter
          {% if filter.active %}
            -facetsShown
          {% endif %}
        ">
          <div class="filterPanelSummary" tabindex="0" role="button" aria-expanded="false">
            <div class="filterPanelSummaryTitle">{{filter.label}}</div>
            <div class="filterPanelSummaryIcon">
              <svg focusable="false" viewbox="0 0 24 24" aria-hidden="true" role="presentation">
                <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                <path fill="none" d="M0 0h24v24H0z"></path>
              </svg>
            </div>
          </div>
          <div class="filterPanelDetails">
            {% for value in filter.values %}
              {% if value.value and value.value|length %}
                <div class="facet
                  {% if value.active %}
                    -toggled
                  {% endif %}
                " data-filter="{{filter.label}}" data-value="{{value.value}}">
                  <span class="facetCheckbox">
                    <svg class="facetIcon facetIconToggled" focusable="false" viewbox="0 0 24 24" aria-hidden="true" role="presentation">
                      <path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"></path>
                    </svg>
                    <svg class="facetIcon facetIconNotToggled" focusable="false" viewbox="0 0 24 24" aria-hidden="true" role="presentation">
                      <path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path>
                    </svg>
                    <input type="checkbox" data-indeterminate="false" value="">
                  </span>
                  {% if filter.type == 'color' %}
                    <div class="colorBox" style="background: {{ value.value_json | get_color_rgb }};"></div>
                  {% endif %}
                <p class="facetText">{{value.value}} {% if value.count %}({{value.count}}){% endif %}</p>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
