.archive {
  min-height: 100vh;
}

.archive section.featuredCommentaries {
  margin-top: 0;
  padding-top: 0;
}

.horizontalListItem .CollectionThumbnail {
  opacity: 0.96;
  height: 300px;
  transition: all 100ms ease-in-out;
}
.horizontalListItem a:hover .CollectionThumbnail {
  opacity: 1;
}

.horizontalListItems.userListItems .CollectionCard {
  max-width: 180px;
}

.horizontalListItems.userListItems .CollectionThumbnail {
  width: 180px;
  height: 180px;
  max-width: 180px;
  min-width: 180px;
  background-position: center;
}

.-publicationsList .horizontalListItem {
  margin: 5px 15px;
}

.-publicationsList .CollectionThumbnail {
  height: 360px;
}

.longDescription {
  display: none;
}

header.-showSearch{
  overflow: auto;
  height: 100vh;
}


.-alexandria .cover {
  min-height: 32vh;
}

.-alexandria .notFound .cover {
  min-height: 100vh;
}

.-alexandria .cover .coverBackgroundGradient {
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.8)),color-stop(30%,rgba(0,0,0,.6)),to(rgba(0,0,0,.8)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,.8),rgba(0,0,0,.6) 30%,rgba(0,0,0,.3));
  background: -o-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.6) 30%,rgba(0,0,0,.3) 100%);
  background: linear-gradient(180deg,rgba(0,0,0,.8) 0,rgba(0,0,0,.6) 30%,rgba(0,0,0,.3));
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}


.archiveTitle {
  font-size: 4rem;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Liberation Sans, Noto, sans-serif;
  font-weight: 900;
  letter-spacing: -.1rem;
  line-height: 1;
  margin: 0px 0 40px;
  max-width: 840px;
}

.archiveSubtitle {
  font-size: 16px;
}

.headerExternal {
  position: fixed;
}

.headerExternalSiteArchiveTitle {
	font-weight: bold;
}

.headerExternalDefault {
}

.headerExternalDefault .headerExternalSite {
  margin-right: 0rem;
  padding-right: 0;
}

.headerExternal.headroom--not-top {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
}

.home .headerExternal .headerExternalSiteArchiveTitle {
}

.headerExternalSiteLogo {
  padding-right: 0;
}

.headerExternal.headroom--not-top .headerExternalSiteArchiveTitle {
  display: block;
}

.headerExternal.headroom--not-top a {
  color: #222;
}

.headerExternal.headroom--not-top.-dark .headerExternalButton svg {
  fill: #222;
}
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.-showSearch.headroom--unpinned,
.-onSearchRoute.headroom--unpinned {
    transform: translateY(0%);
}

.headerExternalSearch button {
  width: 40px;
}

.readingEnvironment p {
	font-family: Cardo, serif;
}

#archiveMap.fullWidthMap {
  height: 660px;
}

.CollectionCardTitle {
  width: 100%;
  display: block;
}

.CollectionCardDescription {
  width: 100%;
  display: block;
}

.-alexandria .cover.-is-archive-cover.-comingSoonCover .coverBackgroundGradient {
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.9)),color-stop(30%,rgba(0,0,0,.6)),to(rgba(0,0,0,.9)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,.9),rgba(0,0,0,.6) 30%,rgba(0,0,0,.9));
  background: -o-linear-gradient(top,rgba(0,0,0,.9) 0,rgba(0,0,0,.6) 30%,rgba(0,0,0,.9) 100%);
  background: linear-gradient(180deg,rgba(0,0,0,.9) 0,rgba(0,0,0,.6) 30%,rgba(0,0,0,.9));
}

.-alexandria .cover.-comingSoonCover {
  min-height:100vh;
  height:100vh;
  align-items: center;
}

.comingSoonPage .footer {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 20px 0;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.8);
}

.comingSoonPage .footerCopyright {
  color: rgba(255, 255, 255, 0.8);
}
.comingSoonPage .footerLinks a {
  color: rgba(203, 126, 79, 0.8);
}

.comingSoonPage .headerExternalNav {
  display: none;
}

.comingSoonPage .coverContent {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  max-width: 990px;
  vertical-align: center;
}

.comingSoonPage .coverContent p {
  margin: 20px auto;
  max-width: 990px;
}

.comingSoonPage .archiveSubtitle {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8) !important;
  margin: 15px auto;
  padding-bottom: 20px;
	// font-family:  Cardo, serif;
}

.comingSoonPage hr {
  background: rgba(255, 255, 255, 0.3);
  height: 5px;
  border: none;
  outline: none;
  width: 100%;
  margin: 30px auto;
  max-width: 120px;
  border-radius: 2px;
}

.alexandriaButton {
  background: #824e2e;
  color: #fff;
  margin: 10px auto;
  padding: 20px 30px;
  border-radius: 5px;
  transition: all 100ms ease-in-out;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.alexandriaButton:hover {
  background: #a26a50;
  color: #fff;
}

button:focus {
  outline: none;
}

.alexandriaButton:focus {
  outline: none;
}

.headerMenu {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  border-radius: 4px;
  background-color: #fff;
  min-width: 150px;
  position: absolute;
  top: 60px;
  left: -50px;
  text-align: left;
  display:none;
  padding: 0;
}

.headerExternalNav .alexandriaButton {
  text-transform: uppercase;
  font-size: 12px;
  margin: 15px 5px;
}

.headerExternalDefault a.alexandriaButton {
  opacity: 1;
  color: #fff;
  font-weight: bold;
}

.headerExternalNav a {
  height: auto;
  padding: 9px 15px;
}


.headerMenuToggleButton:hover .headerMenu {
  display: block;
}

.headerMenu ul {
  margin:0;
  padding:0;
}

.headerMenu hr {
  margin: 0;
  padding: 0;
  background: #eee;
  height: 1px;
  border: none;
  outline: none;
}

.headerMenu li {
  margin:0;
  padding: 6px 20px;
}

.headerMenu li:hover {
  background: #f6f6f6;
}

.article-body .postContentInner p {
  width: 90%;
  max-width: 720px;

}

.article-body .postContentInner p {
  width: 90%;
  max-width: 720px;

}

.article-content {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 0;
  min-height: 500px;
  width: 90%;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content p {
  max-width: 720px;
}

.ml2 {
  margin-left: 84px;
}

.postHead {
  padding-bottom: 10px;
}

.postHead h1 {
  margin: 10px 0 50px;
}

.postHead hr {
  height: 4px;
  background: #824e2e;
  border: none;
  outline: none;
  margin: 10px 0;
  max-width: 90px;
  width: 90%;
}

.postHead h1, .postHead h4, .postHead label {
  max-width: 800px;
}

.archiveContactDetails p {
    padding: 0;
    margin: 0;
}

.postHead label {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.article-byline {
  color: #333;
  padding: 0px 0 30px;
  font-size: 22px;
	font-family: Cardo, serif;
}

em {
  font-style: italic;
}

.tocMenuUpper {
  border-bottom: 1px solid #eee;
}

.tocMenuRow {
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tocMenuRow label {
  font-size: 14px;
  color: #999;
}

.tocMenuRow button {
  color: #222;
  font-size: 12px;
  font-weight: bold;
}

.tocMenuRow button:hover {
  color: #824e2e;
}

.fontSizeButton {
  padding: 5px 0 5px 14px;
}

.littleA {
  font-size: 12px;
}

.bigA {
  font-size: 18px;
}

.tocMenuHeading {
  font-size: 14px;
  color: #999;
  font-weight: normal;
  margin: 0;
  padding: 20px 20px 10px;
}

.tocMenuLoading {
  font-size: 14px;
  color: #999;
  padding: 20px 20px 10px;
  display: block;
}

.tocMenu, .tocMenu ul, .tocMenu li {
  margin: 0;
  padding: 0;
}

.tocMenu a {
  color: #222;
  padding: 6px 24px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.tocMenu a:hover {
  color: #824e2e;
  background: #f6f6f6;
}

.textNodeLocation {
  width: 90px;
}

.textNodeLocation div {
	font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Liberation Sans, Noto, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: right;
}

.textNode {
  padding: 8px 0;
}

.textNode .editing {
  border-bottom: 2px solid #ddd;
  padding-bottom: 6px;
}

.textNode span {
  font-size: 22px;
  line-height: 1.7em;
}

.textLocationOuter a {
  display: inline-block;
  margin: 0 90px;
}

.textLocationOuter a:hover {
  text-decoration: none;
}

.textLocationOuter button {
  display: flex;
  align-items: center;
  justify-content: center;
}


.textLocationOuter i::before {
  font-size: 24px;
}

.textLocationPrev, .textLocationNext {
  margin: 20px 0 60px;
}

#\@\@reading-env\/text {
  padding: 80px 0 20px;

}

.alexandriaButton.-light {
  background: #fff;
  color: #999;
}

.alexandriaButton.-outline {
  border: 2px solid #aaa;
}

.alexandriaButton.-light:hover {
  background: #824e2e;
  color: #fff;
}

.alexandriaButton.-outline:hover {
  border: 2px solid #fff;
}

.ReadingEnv.sidePanelVisible .headerLocation {
  display: none;
}

.ReadingEnv.sidePanelVisible .items-end {
  display: none;
}

.ReadingEnv .headerLocation li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.workTitleText {
  max-width: 320px;
  padding-right: 10px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidePanelVisible #\@\@reading-env\/text {
  margin: 0;
  width: 50%;
}

.sidePanelHandleBarGrip {
  height: 50px;
  width: 40px;
  margin: 20px 0px;
  background: #888;
  border-radius: 5px 0 0 5px;
  position: absolute;
}

.sidePanelHandleBarGrip:hover {
  background: #999;
  transition: background ease-in-out 100ms;
}

.sidePanelHandleBarGrip .mdi {
  color: #fff;
}

.sidePanelHandleBarGrip .mdi::before {
  font-size: 30px;
}

.ReadingEnv .sidePanelContent h1,
.ReadingEnv .sidePanelContent h2,
.ReadingEnv .sidePanelContent h3,
.ReadingEnv .sidePanelContent h4,
.ReadingEnv .sidePanelContent h5,
.ReadingEnv .sidePanelContent h6 {
  margin: 5px 10px 20px 50px;
  font-size: 22px;
}
.ReadingEnv .sidePanelText h1,
.ReadingEnv .sidePanelText h2,
.ReadingEnv .sidePanelText h3,
.ReadingEnv .sidePanelText h4,
.ReadingEnv .sidePanelText h5,
.ReadingEnv .sidePanelText h6 {
  margin: 5px 0;
}
.ReadingEnv .sidePanelText h1 {
  font-size: 22px;
}
.ReadingEnv .sidePanelText h2 {
  font-size: 20px;
}
.ReadingEnv .sidePanelText h3 {
  font-size: 18px;
}
.ReadingEnv .sidePanelText h4 {
  font-size: 16px;
}
.ReadingEnv .sidePanelText h5 {
  font-size: 14px;
}

.ReadingEnv .sidePanelText p {
  font-size: 12px;
}

.sidePanelText {
  width: 44vw;
}

.sidePanelContent .textNodeLocation {
  width: 52px;
}

.sidePanelContent .textNode {
  padding: 0;
  margin-right: 35px;
}

.sidePanelContent .textNode span {
  font-size: 18px;
  line-height: 1.3em;
}

.sidePanelText .textNode span {
  font-size: 18px;
  line-height: 1.2em;
}

.sidePanelText .textNodeLocation span,
.sidePanelText .textNodeLocation {
  font-size: 10px;
  opacity: 0;
}
.sidePanel .textNodeLocation {
  width: 30px;
  margin-left: -30px;
}

.MuiAccordion-root.Mui-expanded {
  margin: 0 !important;
}

.MuiAccordionSummary-root {
  padding: 0px 27px !important;
  background: #f6f6f6 !important;
}

.sidePanel .MuiBox-root-10,
.sidePanel .MuiBox-root-11,
.sidePanel .MuiBox-root-12 {
  padding: 12px !important;
}

.MuiMenu-list {
  max-width: 600px !important;
}

#panel-commentary-content .MuiAccordionDetails-root {
  max-height: calc(100% - 200px) !important;
}

.sidePanel .textNode {
  padding: 1px 0;
  max-width: 100%;
}

.sidePanel .editor span {
  font-size: 16px;
  line-height: 1.4rem;
}

.hashtagDropdownMenu {
  background: #fff;
}

.ReadingEnv {
  background: #fff;
}

.readingEnvLoading {
  background: #eee;
  width: 100vw;
  height: 100vh;
  transition: all 100ms ease-in-out;
  overflow:hidden;
}

.readingEnvLoadingContent {
  padding: 8vh 90px;
  max-width: 600px;
  margin: 0;
}

.readingEnvLoadingHeader, .readingEnvLoadingLine {
  background: #ddd;
  border-radius: 4px;
	animation: animationLoading 1s infinite;
}

.readingEnvLoadingHeader {
  height: 60px;
  width: 49vw;
  margin: 40px 0 60px;
}

.readingEnvLoadingLine {
  height: 30px;
  width: 48vw;
  margin: 40px 10px;
}

.sidePanelForm {
  padding: 20px;
}

.focusText {
	font-family: Cardo, serif;
  font-size: 22px;
  color: #000;
  margin: 20px 0;
}

.ReadingEnv .sidePanelForm h3 {
  margin: 0 0 20px;
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
  font-weight: bold;

}

.sidebarFormActionButtons {
  position: fixed;
  display: flex;
  bottom:  0px;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  z-index: 100;
  padding: 0 0 20px;
  width: 100%;
}

.commentTitleInput {
  font-size: 42px;
}

.readingEnvNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
}

.sidePanelVisible .readingEnvNavigation {
  width: 50%;
}

.ReadingEnv .headerTitle {
  padding: 16px 20px;
  font-weight: normal;
}

.ReadingEnv nav>ul {
  margin: 0;
}

.ReadingEnv nav a {
  padding: 16px 20px;
  display: inline-block;
}

.ReadingEnv nav a.workTitle {
  padding-right: 0;
}

.ReadingEnv header button {
  padding: 16px 12px;
}

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heading .commentButton {
  margin-top: 2em;
  margin-left: 1em;
}

.heading h1 {
  margin-top: 1.2em;
  margin-bottom : 0.75em;
}

.heading h2 {
  margin-top: 1em;
  margin-bottom : 0.5em;
}

.heading h3 {
  margin-top: 0.5em;
  margin-bottom : 0.25em;
}

.commentButton {
  margin-bottom: 6px;
  display: inline-block;
}

.commentIconCount {
  color: #666;
}

.commentButton svg {
  width: 30px;
  height: 30px;
  fill: #999;
}

.commentButton:hover .commentIconCount {
  color: #222;
}

.commentButton:hover svg {
  fill: #444;
}

.addCommentButton {
  right: -25px;
}

.sidePanelVisible .addCommentButton {
  right: 0;
}

.comment {
	margin: 1em 15px 3em;
  max-width: 95%;
	width: 95%;
	display: block
}

.ReadingEnv .sidePanelContent .comment h2 {
	font-size: 24px;
	margin: 0;
}

.comment .commentByline {
	font-size: 14px;
	color: #999;
  display: flex;
  padding: 0px 10px 0 0;
}

.comment div, .comment span {
	font-size: 14px;
	line-height: 1.6em;
	max-width: 720px;
  cursor: default;
}

.comment a, .comment a span {
  cursor: pointer;
}

.comment img {
  max-width: 66%;
  margin: 20px auto;
  display: block;
  cursor: default;
}

.commentHead {
  margin: 15px 0;
}

.commentHeadText {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.commentHeadMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ReadingEnv .sidePanelContent .comment .commentHeadText h2 {
  margin-right: 10px;
}

.commenterLink {
  display: flex;
  cursor: pointer;
  margin-right: 10px;
}

.ReadingEnv a.commenterLink:hover {
  text-decoration: none;
}

.commenterLink .chipAvatar {
  width: 20px;
  height: 20px;
  margin: 2px 6px 2px 0;
  background-color: #eee;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.commentActions svg {
  margin-top: 10px;
  cursor: pointer;
}

.comment [data-block="true"] {
  padding: 10px 0;
}

.sidePanelAboutText {
  padding: 0;
}

.-alexandria .item {
  min-height: 80vh;
}

.-alexandria .itemHeader {
  margin: 6rem 2rem 2rem 9rem;
  padding: 0;
}

.-alexandria .itemContent {
  margin: 2rem 2rem 2rem 9rem;
  padding: 0;
}

.-alexandria .item h2 {
  font-size: 2rem;
}

.textOriginalTitle {
  color: #999;
  font-weight: 100;
	font-family: Cardo, serif;
}

.textLinks {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.textLinks a{
  display: inline-block;
  margin: 0;
}

.textLinksBullet {
  height: 4px;
  width: 4px;
  border-radius: 100%;
  background: #824e2e;
  margin: 0 10px;
}


.textImage {
  width: 480px;
	height: 320px;
	margin: 1em 0;
  background-size: cover;
  background-position: top;
  border-radius: 1rem;
  border: 1px solid #eee;
}

.textImage img {
	width: 100%
}

.-alexandria .listItem .card {
    border-radius: 5px;
}

.-alexandria .listItem:not(:first-child):not(:last-child) .card,
.-alexandria .listItem:not(:first-child):not(:last-child) .listItemSelector:before,
.-alexandria .listItem:not(:first-child):not(:last-child):before {
    border-radius: 5px;
}

.-alexandria .listItem:first-child .card,
.-alexandria .listItem:first-child .listItemSelector:before,
.-alexandria .listItem:first-child:before {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.textDescription {
  max-width: 720px;

}

.textDescription p {
  padding: 10px 0;
}

.editionList .CollectionCardDescription {
  height: 4em;
}

.editionList .CollectionCard:hover .editionType {
  opacity: 1;
}

.editionList .CollectionCard:hover .editionGradient {
	background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(0, 0, 0, .55)));
	background: -webkit-linear-gradient(top, transparent, transparent 50%, rgba(0, 0, 0, .55));
	background: linear-gradient(180deg, transparent 0, transparent 50%, rgba(0, 0, 0, .55));
}

.editionType {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 162px;
  right: 26px;
  text-shadow: 0px 0px 2px #000;
  opacity: 0.9;
  transition: all 100ms ease-in-out;
}

.editionThumbnail {
  position: relative;
}

.editionGradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1rem;
	background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(0, 0, 0, .6)));
	background: -webkit-linear-gradient(top, transparent, transparent 50%, rgba(0, 0, 0, .6));
	background: linear-gradient(180deg, transparent 0, transparent 50%, rgba(0, 0, 0, .6));
  transition: all 100ms ease-in-out;
}

.commentTags {
  margin-top: 1em;
}

.commentTag {
  background: #eee;
  border-radius: 20px;
  padding: 4px 16px 6px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  transition: 100ms ease-in-out all;
  margin: 0 4px 6px 0;
}

.comment .commentTag span,
.comment .commentTag a {
  font-size: 10px;
}

#revision_popover {
  width: 160px;
}

.revisionSelectButton {
  width: 160px;
  text-align: left;
  background: #fff;
  transition: all 100ms ease-in-out;
}

.revisionSelectButton:hover {
  background: #f6f6f6;
}

.ReadingEnv.arabic #\@\@reading-env\/text,
.ReadingEnv.hebrew #\@\@reading-env\/text,
.ReadingEnv.syriac #\@\@reading-env\/text,
.ReadingEnv.sanskrit #\@\@reading-env\/text,
.ReadingEnv.persian #\@\@reading-env\/text {
  text-direction: rtl;
  text-align: right;
}

.ReadingEnv.arabic h1,
.ReadingEnv.hebrew h1,
.ReadingEnv.syriac h1,
.ReadingEnv.sanskrit h1,
.ReadingEnv.persian h1 {
  margin-right: 1em;
}

.ReadingEnv.arabic .heading,
.ReadingEnv.hebrew .heading,
.ReadingEnv.syriac .heading,
.ReadingEnv.sanskrit .heading,
.ReadingEnv.persian .heading {
  justify-content: flex-end;
}

.ReadingEnv.arabic .heading .commentButton,
.ReadingEnv.hebrew .heading .commentButton,
.ReadingEnv.syriac .heading .commentButton,
.ReadingEnv.sanskrit .heading .commentButton,
.ReadingEnv.persian .heading .commentButton {
  margin-left: 3em;
  margin-right: 1em;
}

.readingEnvMenu {
  padding: 1em;
}

.readingEnvMenu form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.readingEnvMenu button {
  margin-left: -5px;
  display: block;
  padding: 7px 21px;
  opacity: 1;
  z-index: 1;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.readingEnvMenu h3 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.workSearch.readingEnvMenu {
  padding: 0;
}

.workSearch.readingEnvMenu button {
  padding: 15px 21px;
}

.bookmarkMenu.readingEnvMenu button {
  padding: 14px 21px;
}

.searchResults {
  margin: 1em 0 0;
  position: relative;
}

.searchResults::after {
  background: linear-gradient(180deg,hsla(0,0%,100%,0),#fff);
  bottom: 0;
  content: "";
  position: absolute;
  left: 0;

  height: 1.5rem;
  width: 90%;
}

.searchResults ul {
  margin: 0 0 0 4px;
  padding: 0;
  max-height: 14em;
  overflow-y: scroll;
  padding-bottom: 3em;
}

.searchResults .location {
  display: inline-block;
  margin-right: 1em;
  width: 90px;
  text-align: right;
}

.messages {
  list-style: none;
}

.pagination {
  display: flex;
  list-style: none;
  flex-wrap:wrap;
  max-width: 990px;
  padding: 1rem 3rem;
}

.pagination li {
  margin: 5px;
  background: #eee;
}

.pagination li.current {
  background: transparent;
  color: #fff;
}

.pagination li span, .pagination li a, .pagination li button {
  padding: 10px 15px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}


.pagination li i {
  color: #762123;
}

.pagination li.first i,
.pagination li.prev i {
  margin-right: 5px;
}

.pagination li.next i,
.pagination li.last i {
  margin-left: 5px;
}

.pagination li a:hover {
  background: #762123;
  color: #fff;
}

.pagination li a:hover i {
  color: #fff;
}


.-alexandria .crisp-client .crisp-1rjpbb7 .crisp-ws3gf1, .crisp-client .crisp-1rjpbb7 .crisp-13h0akn:before, .crisp-client .crisp-1rjpbb7 .crisp-13h0akn:after {
  background-color: #824e2e !important;
}
.-alexandria .crisp-client .crisp-1rjpbb7 .crisp-17f70m7 {
  background-image: linear-gradient(125deg, #824e2e -10%, #824e2e 100%) !important;
}

.-alexandria .crisp-client .crisp-1rjpbb7 a:visited {
  color: #824e2e !important;
}

.-alexandria .crisp-1hyr9km.crisp-4oo1n4.crisp-15h9f8s {
  display: none !important;
}

.-alexandria .crisp-client .crisp-1rjpbb7 .crisp-ox3dbf, .crisp-client .crisp-1rjpbb7 .crisp-1fmeyoi[data-active="true"] {
  background-color: #824e2e !important;
}

.tagComments {
  padding: 1rem 1rem 1rem 9rem;
}

.commentTeaser {
  padding: 10px 0;
  width: 29%;
  max-width: 720px;
  min-width: 400px;
  margin-right: 2rem;
}

.commentTeaser a {
  text-decoration: none;
}

.commentTeaser a:hover h3 {
  color: #824e2e;
}

.commentTeaser h3 {
  font-size: 18px;
  color: #222;
  font-weight: 700;
  line-height: 1.3;
}

.commentTeaser .byline {
  color: #666;
  font-size: 14px;
}

.commentTeaser .excerpt {
  color: #666;
  font-size: 14px;
}

.commentList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.commenterList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0rem 2rem 2rem 9rem;
}

.commenterItem {
  margin: 1rem 2rem 1rem 0;
}

.commenterItem a {
  text-decoration: none;
}

.commenterItem .CollectionThumbnail {
  height: 320px;
  width: 320px;
}
