.archive.search {
  padding-top: 7rem;
}

.archive.search .filters {
  position: fixed;
  width: 320px;
  height: 100vh;
  overflow-y: hidden;
  top:0;
  left: 0;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #fff;
}


.archive section.results {
  width: 100%;
}

.archive.search .horizontalListTitle {
  margin-left: 0;

}

.archive.search h1 {
  font-size: 20px;
  padding: 0rem 3rem;
  font-weight: 400;
  color: #666;
  letter-spacing: 1px;
}

.archive.search section.results {
  padding-top: 0;
}

.archive.search .horizontalList .horizontalListItem:first-child {
  margin-left: 3rem;
}

.CollectionCardInner a .searchHighlight,
.searchHighlight {
  background: #f8e2bf;
}

.horizontalList.-tagList {
  padding: 1rem 0 3rem;
}

.horizontalListItem.-tagItem {
  width: 320px;
  height: 220px;
  border-radius: 5px;

}

.tagItemBackgroundImage {
  position: absolute;
  width: 320px;
  height: 220px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-color: #824e2e;
}

.tagItemGradient {
  position: absolute;
  width: 320px;
  height: 220px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.1)),color-stop(60%,rgba(0,0,0,.4)),to(rgba(0,0,0,.6)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,.1),rgba(0,0,0,.4) 60%,rgba(0,0,0,.6));
  background: -o-linear-gradient(top,rgba(0,0,0,.1) 0,rgba(0,0,0,.4) 60%,rgba(0,0,0,.6) 100%);
  background: linear-gradient(180deg,rgba(0,0,0,.1) 0,rgba(0,0,0,.4) 60%,rgba(0,0,0,.6));
}

.horizontalListItem.-tagItem .tagItemText {
  position: absolute;
  width: 320px;
  height: 220px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1.6rem;
}

.tagItemText h3 {
  font-size: 22px;
}

.tagItemText label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.8;
}

.horizontalList.-showAll .horizontalListItems {
  white-space: normal;
  overflow:visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 3rem;
  width: 100%;
}

.archive.search .horizontalList.-showAll .horizontalListItem:first-child {
  margin-left: 0;
}
