{% extends "base.twig" %}

{% block content %}

{% include "partials/header.twig" %}

<div class="archive">
    <strong>Manage Comments</strong><br />
    <ul>
    {% for comment in object_list %}
        <li>{{ comment.urn }}</li>
    {% empty %}
        <li>No comments yet.</li>
    {% endfor %}
    </ul>
</div>

{% include "partials/footer.twig" %}

{% endblock %}