{% extends "base.twig" %}

{% block content %}
  {% include "partials/header.twig" %}

  <div class="archive">
    <div class="itemHeader">
      {% if commenter.picture %}
        <div
          class="textImage commenterImage"
          style="background-image:url('{{ aws_url }}{{ commenter.picture }}')"
        >
        </div>
      {% else %}
      <div
        class="textImage"
        style="background-image:url('https://ahcip.chs.harvard.edu/images/default_user.jpg')"
      >
      </div>
      {% endif %}
      <h1>
        {{ commenter.full_name }}
      </h1>
    </div>
    <div class="itemContent">
      {% if commenter.bio %}
      <div class="textDescription">
        <p>
          {{commenter.bio|default:""}}
        </P>
      </div>
      {% endif %}
    </div>
    <section>
      <div class="horizontalList -homepageHorizontalList">
        {% include 'partials/list_info.twig' with list_title="Commented On" items=texts list_label=" works"  %}
        <div class="horizontalListItems">
            {% for text in texts %}
              {% if text.full_urn %}
                <div class="CollectionCard horizontalListItem -withMedia">
                  <a href="/read/{{text.full_urn}}" class="CollectionThumbnailOuter">
                      <div class="CollectionThumbnail" style="background-image: url(&quot;{{ text.cover_image|default:'/static/img/default.jpg' }}&quot;);">
                      </div>
                  </a>
                  <div class="CollectionCardInner">
                    <a href="/read/{{text.full_urn}}" >
                      <p class="MuiTypography-root-26 MuiTypography-body1-35 CollectionCardTitle">
                        {{text.english_title}}
                      </p>
                      <span class="MuiTypography-root-26 MuiTypography-caption-36 CollectionCardDescription">
                        {{ text.description|default:""|truncatewords_html:12 }}
                      </span>
                    </a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
        </div>
      </div>
    </section>
    <!-- section>
        <div class="blockQuote">
            <blockquote>{{ comment_featured.revisions.last.text|striptags }} </blockquote>
            <span class="blockQuoteAuthor">- <em>Comment on <a href="{% url 'read' urn=comment_featured.urn %}">{{ comment_featured.urn }}</a></em></span></div>
    </section -->
    <section>
      <div class="horizontalList -homepageHorizontalList">
        {% include 'partials/list_info.twig' with list_title="Contributes to" items=commentaries list_label=" commentaries"  %}
        <div class="horizontalListItems">
          {% for commentary in commentaries %}
            <div class="CollectionCard horizontalListItem">
              <a href="{{ commentary.hotname }}">
                <div class="CollectionThumbnail" style="background-image: url(&quot; {{commentary.cover_image|default:'/static/img/default.jpg' }}&quot;);"></div>
                <div class="CollectionCardInner">
                  <p class="MuiTypography-root-52 MuiTypography-body1-61 CollectionCardTitle">{{ commentary.title }}</p>
                  <span class="MuiTypography-root-52 MuiTypography-caption-62 CollectionCardDescription">
                    {% for commenter in commentary.commenters.all %}
                      {{ commenter.first_name }}
                      {{ commenter.last_name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  </span>
                  <span class="MuiTypography-root-52 MuiTypography-caption-62 CollectionCardMeta">{{ commentary.comment_set.count }}
                    comments</span></div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
  {% include "partials/footer.twig" %}
{% endblock %}
