{% extends "base.twig" %}

{% block content %}
{% include "partials/header.twig" %}
<div class="archive">
    <head>
    {{ dashboard_form.media }}
    </head>

    <strong>Dashboard</strong><br />
    {% if saved %}
        <strong>Saved.</strong>
        <a href="{% url 'dashboard' %}">Return to the dashboard.</a><br />
    {% else %}
        <form id="dashboard" method="post" action="{% url 'dashboard' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ dashboard_form.as_p }}
            <input type="submit" name="submit" value="Save" />
        </form>
    {% endif %}
</div>
{% include "partials/footer.twig" %}
{% endblock %}