{% extends "base.twig" %}

{% block content %}
	{% include "partials/header.twig" %}

	<div class="content-wrapper page">
    <div class="cover">
        <div class="coverBackground" style="background-image: url(&quot;//iiif.orphe.us/mss_2.jpg/full/full/0/default.jpg&quot;);"></div>
        <div class="coverBackgroundGradient"></div>
    </div>
		<article class="post-type-{{post.post_type}} post" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="postHead">
					<hr></hr>
					<h1 class="article-h1">Thinking comparatively about Greek mythology X, A Homeric lens for viewing Hēraklēs</h1>
					<h4 class="article-h4 article-byline">
						2019.09.27 | By Gregory Nagy
					</h4>
				</div>
				<div class="article-body postSection postContent">
					<div class="postContentInner">
					<p>§0. This essay, for which I give the abbreviated title TC X, connects in a special way with nine previous essays posted in <em>Classical Inquiries</em>, TC I through IX, which are all interconnected in their focusing on myths about the Labors and sub-Labors of the ancient Greek hero Hēraklēs. Also connected are two previous essays, published earlier in<em> Classical Inquiries</em> 2019.07.12 and 2019.07.19, about the death and subsequent apotheosis of the hero. To illustrate what makes TC X special, I start with a painting that pictures Hēraklēs in the act of completing the only Labor of his that we can see being narrated directly in Homeric poetry, that is, in <em>Iliad</em> 8.360–373 and in <em>Odyssey</em> 11.617–626. This Labor, viewed through a Homeric zoom lens, as it were, is the hero’s act of delivering the monstrous Cerberus, Hound of Hādēs, to Eurystheus, king of Mycenae. In its visual contrasting of Hēraklēs with Eurystheus, this painting shows some details that remind me of comparable details we see in the Homeric narrative. After having subdued and captured the beast, Hēraklēs now leashes it and brings it to Eurystheus for a formal presentation to the king, who is shown cowering inside a huge storage jar at the very sight of the Hound. Though Eurystheus is socially superior to Hēraklēs, his cowardice thus reveals just how pathetically inferior he is as a man.</p>
					<div id="attachment_10077" class="wp-caption aligncenter" style="width: 448px"><a href="http://classical-inquiries.chs.harvard.edu/wp-content/uploads/2019/09/Eurystheus_Louvre701_full_1280.jpg"><img class="wp-image-10077" src="http://classical-inquiries.chs.harvard.edu/wp-content/uploads/2019/09/Eurystheus_Louvre701_full_1280.jpg" alt="" width="440" height="500" scale="0"></a><p class="wp-caption-text">Caeretan black-figure hydria: Eurystheus leaps into in a storage jar as Heracles presents him with the snaky, snarling Cerberus. Attributed to the Eagle Painter, ca. 525 BCE. Paris, Musée du Louvre, E701. <a href="https://www.flickr.com/photos/69716881@N02/27660789090" target="_blank" rel="noopener noreferrer">Image</a> via Flickr under a <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/" target="_blank" rel="noopener noreferrer">CC BY-NA-SA 2.0</a> license.</p></div>
					<p>&nbsp;</p>
					<p><a href="http://classical-inquiries.chs.harvard.edu/wp-content/uploads/2019/09/Eurystheus_LouvreE701_close_1280.jpg"><img class="aligncenter wp-image-10076" src="http://classical-inquiries.chs.harvard.edu/wp-content/uploads/2019/09/Eurystheus_LouvreE701_close_1280.jpg" alt="" width="500" height="295" scale="0"></a></p>
					<p>&nbsp;</p>
					<p>§1. What makes TC X special in its connectivity to TC I through IX is that the lens for viewing the various different myths about Hēraklēs has been switched here. Up to now, in TC I through IX, the primary textual sources for viewing these myths have been Diodorus and “Apollodorus,” authors who are dated respectively to the first century BCE and the second century CE. In analyzing those sources, I could up to now make do by looking at the overall story through the lens of source criticism and then by comparing to each other the various different aspects of this story—to the extent that I could see these aspects through such a lens. But now I switch lenses while at the same time switching my analysis to Homeric poetry, which is a different kind of source, emanating from an oral tradition that reaches back, in some ways, as far as the second millennium BCE, back to the era of the Mycenaean Empire.</p>
					<p>§2. Up to now, granted, the source-critical lens through which I have been viewing the textual evidence about Hēraklēs in the narratives of Diodorus and “Apollodorus” has been powerful enough to let me extend my view of the myths about this hero as far back in time as possible, even as far back as the era of the Mycenaean Empire—the same era that we see reflected in the Homeric narratives about the capture of Cerberus by Hēraklēs in <em>Iliad</em> 8.360–373 and in <em>Odyssey</em> 11.617–626. But there is a big difference here. In the case of the textual sources that we see reflected in Diodorus and in “Apollodorus,” the retellings about the life and times of the hero Hēraklēs have to be freestanding, fully understandable in and of themselves. Thus there is nothing to be elided in the myth about the capture of Cerberus as we read about it in the retelling by Diodorus (4.25.1), where the event is Labor 10, or in the retelling by “Apollodorus” (2.5.12 pp. 233–237 ed. Frazer 1921 I), where the same event is Labor 12. By contrast, the retelling of the hero’s capture of Cerberus in Homeric poetry is deeply embedded in the framing narrative, so that the myth about this same Labor is not at all freestanding: rather, as is obvious from the Homeric wording here, anyone who hears even a part of this myth is already expected to know that the ‘Hound’ that is featured as the referent of the story must be Cerberus. That is why the relevant narrative in both the <em>Iliad</em> (8.368) and the <em>Odyssey</em> (11.623) can refer to Cerberus simply as ‘the Hound’, with no name assigned.</p>
					<p>§3. Here I return to the metaphor of the Homeric zoom lens. In terms of this metaphor, the zooming-in of the narrative camera on specific details about the life and times of Hēraklēs may help focus on a central element in, say, a given Labor of the hero—but at the same time we must expect some blurring to result around the periphery, with the result that even the beginnings and endings of the relevant narrative may get elided. For that reason, I will still need to switch back occasionally to the perspective of a non-zooming lens in essays yet to come, where I hope to expand my overall view of the myths about the Labors and the sub-Labors of Hēraklēs.</p>
					<p>§4. For now, however, I simply note the blurring effects that result from the zooming-in that we see in <em>Iliad</em> 8.360–373 and in <em>Odyssey</em> 11.617–626.</p>
					<p>§4a. In the case of <em>Iliad</em> 8.360–373, we find the goddess Athena speaking to the goddess Hērā about the plight of the Achaeans who are now in danger of being destroyed by the onslaught of Hector—all because of the anger felt by Zeus against the Achaeans for having put up with Agamemnon when this king of Mycenae insulted and thus dishonored the hero Achilles. So, the goddess Athena, who sides with Achilles but who also sides with the Achaeans, is expressing her conflicted feelings by speaking of her resentment of Zeus for siding against the Achaeans in this situation: what an ingrate the god is, as the goddess implies! She thinks of all the favors that she has done for her divine father—as for example when she enabled Hēraklēs to bring Cerberus out of Hādēs without dying. The wording that expresses this thought of Athena in her present dialogue with Hērā is deeply ironic, since Hērā had been the unrelenting antagonist of Hēraklēs during the hero’s lifetime. Thus the wording of the goddess ironically highlights the bind in which Zeus had found himself while he was enforcing the Labors of Hēraklēs in service of Eurystheus, king of Mycenae—<em>and while all along relying on Athena to help Hēraklēs escape from death each time the hero performed one of his Labors</em>. Ironically the lens of Homeric poetry has zoomed-in on a parallel between Eurystheus, king of Mycenae, who was socially superior to Hēraklēs but inferior to him as a man, and Agamemnon, king of Mycenae, who is likewise socially superior to Achilles but inferior to that hero as a man. And here is the blur that comes with the zoom-in: throughout this passage, the name of Hēraklēs is never spoken in the wording addressed by Athena to Hērā, the prime antagonist of the hero. Even the name of Cerberus, as I already noted, is never spoken here.</p>
					<p>§4b. In the case of <em>Odyssey</em> 11.617–626, we see another situation where a Homeric zoom-in leaves a blur. We see wording being quoted here that is spoken by the hero Hēraklēs himself. He is speaking to Odysseus, who has entered Hādēs while still alive and who will depart from Hādēs while still alive. That is what Hēraklēs had managed to do as well: to enter and then to depart from Hādēs while still alive. And that was when Hēraklēs had performed his Labor of capturing Cerberus in Hādēs and bringing the beast out of Hādēs for presentation to Eurystheus, king of Mycenae. The blur here, once again, is that the name of Cerberus is never spoken at this point. But now I must adjust what I said a moment ago when I referred to the wording that is spoken here by the hero Hēraklēs himself. Actually, the speaker here is not Hēraklēs but rather a disembodied conveyor of the hero’s identity after death.&nbsp;In the introduction to the passage here at lines 617–626 of <em>Odyssey</em> 11, at lines 602–603, the Homeric narrative has already zoomed-in on the place where Hēraklēs really abides after death, now that he has experienced his apotheosis. He has already left behind the blurriness of Hādēs, and now the hero’s real ‘self’, Hēraklēs <em>autos</em>, is immortalized in the heavenly heights of Mount Olympus:</p>
					<p>εἴδωλον· αὐτὸς δὲ μετ’ ἀθανάτοισι θεοῖσι<br>
					τέρπεται ἐν θαλίῃς καὶ ἔχει καλλίσφυρον Ἥβην</p>
					<p>‘[And then I (=Odysseus) saw Hēraklēs], an image [<em>eidōlon</em>] of him. But he himself [<em>autos</em>] is in the company of the immortal gods, delighting in their feasts, and he possesses Hēbē [the daughter of Hērā], the one with the beautiful ankles.’</p>
					<p>(Commentary&nbsp; at O.11.601–626 in</p>
					<p><a href="http://nrs.harvard.edu/urn-3:hlnc.essay:Nagy.A_Sampling_of_Comments_on_the_Iliad_and_Odyssey.2017">http://nrs.harvard.edu/urn-3:hlnc.essay:Nagy.A_Sampling_of_Comments_on_the_Iliad_and_Odyssey.2017</a>.)</p>
					<hr>
					<p><strong>Bibliography</strong></p>
					<p>See the dynamic&nbsp;<a href="https://classical-inquiries.chs.harvard.edu/bibliography-for-comments-on-comparative-mythology/" target="_blank" rel="noopener noreferrer">Bibliography for Comments on Comparative Mythology</a>.</p>
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

	{% include "about-info.twig" %}
	{% include "partials/footer.twig" %}
{% endblock %}
