{% extends "base.twig" %}

{% block content %}
  {% include "partials/header.twig" %}

  <div class="item">
    <div class="itemHeader">
      {% if tag.image %}
        <div class="textImage" style="background-image: url('{{aws_url}}{{tag.image}}');"></div>
      {% endif %}
      <h1>
        {{tag.name}}
      </h1>
    </div>
    <div class="itemContent">
      <div class="textLinks">
        <span >{{ comment_results|length }}
          Comments</span>
      </div>
      <div class="tagDescription">
        {{tag.description|safe}}
      </div>
    </div>
    <div class="tagComments">
      <h2>Comments</h2>
      <div class="commentList">
        {% for comment in comment_results %}
          {% include 'partials/comment_teaser.twig' %}
        {% endfor %}
      </div>
    </div>
    {% include "partials/footer.twig" %}
  {% endblock %}
